﻿@{
    ViewBag.Title = "Show";
}

<h2>Showing @ViewBag.Locations.Count marker(s) for @ViewBag.Line.VehicleName() @ViewBag.Line.Number</h2>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASCIGOO1GMJV-mmPe6dw4ilgWf4mwlU2c">
</script>

<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: { lat: 59.437222, lng: 24.745278 },
            zoom: 12
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        @foreach (var loc in ViewBag.Locations)
        {
         <text>
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(@(loc.DecLat), @(loc.DecLng)),
                map: map
            });
         </text>
        }
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map-canvas"></div>