﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>Trolleybuses</h3>
@{ 
    foreach ( var line in ViewBag.TrolleybusLines ) {
        <a href="/Locations/Show/@line.Number/@line.Vehicle">@line.Number</a> 
    }
}

<h3>Buses</h3>
@{
    foreach (var line in ViewBag.BusLines)
    {
        <a href="/Locations/Show/@line.Number/@line.Vehicle">@line.Number</a>
    }
}

<h3>Trams</h3>
@{
    foreach (var line in ViewBag.TramLines)
    {
        <a href="/Locations/Show/@line.Number/@line.Vehicle">@line.Number</a>
    }
}

